.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;

  &:hover {
    filter: drop-shadow(0 0 2rem #ffffffaa);
  }

  &.typescript:hover {
    filter: drop-shadow(0 0 2rem #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2rem #61dafbaa);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}
